@import "tailwindcss";

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #f5f7fa; /* çok hafif kurumsal gri/mavi */
  color: #1a1a1a;
  font-family: Arial, sans-serif;
}
